<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
      Greetings! My name is Derrick Fink and I am a <del>Full-Stack</del> T-Shaped Developer working mostly on the .Net C# stack. Wait? What the heck is a "T-Shaped" Developer? <a href="http://andyshora.com/full-stack-developers.html">The Myth of the Full Stack Developer.</a>
  </p>
  <p>
       Rather than claiming that I'm equally great at all things, a T-Shaped developer is someone who has a particular specialty in one area but is comfortable and passionate about many different areas of development. My particular expertise is in back end .Net C# using things like Entity Framework and Web API to build RESTful services.
        I also am passionate in other areas like, client side development with AngualrJS, mobile app development using IONIC and Cordova, and Dev Ops using AWS, TeamCity, and Octopus Deploy.
    </p>
</div><!--//summary-->
</section><!--//section-->
