<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
  <p>Greetings! My name is Derrick Fink and I am a full stack developer (C#/.Net Web API, Angular2+, and MSSQL/MySQL)</p>
  <p>
    I am passionate web developer that is always looking to add another tool to my toolbag. Recently that's been.
  <ul>
    <li>Writing Alexa skills in C#</li>
    <li>NGRX Store pattern for Angular2+ development</li>
    <li>Building serverless API's using AWS Lambda and .Net Core2.0+</li>
    <li>Hosting Angular2+ apps in aws using S3 and CloudFront</li>
    <li>Cross platform mobile app development using Ionic</li>
    <li>Brewing the best possible coffee</li>
  </ul>
  </p>
</div><!--//summary-->
</section><!--//section-->
