<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        My name is Derrick Fink and I am a T-Shaped developer currently living and working in beautiful Boise Idaho. 
        Wait, what the heck is a “T-Shaped” developer? Well first let me say that T-Shaped != Full Stack Developer I used to think of myself as a full stack developer until I came across this great article <a href="http://andyshora.com/full-stack-developers.html">The Myth of the Full Stack Developer</a>
        A T-Shaped developer is someone who has a particular specialty in one area but is comfortable doing a wide range of development work in other areas a well. My particular expertise is in back end .Net C# using things like Entity Framework and Web API.
        I also am comfortable in areas like, client side development with AngualrJS, and Dev Ops using AWS, TeamCity, and Octopus Deploy.
    </p>
</div><!--//summary-->
</section><!--//section-->
