<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Application Developer</h3>
                            <div class="time">June 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Boise State University</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                      I work as a member of an Agile / SCRUM team that builds and supports some of the universities most important and high profile applications. While my speciality is writing RESTful Api's in .Net C# using Entity Framework and Web API. I pride myself on being cross functional and am frequently able to contribute to our front-end stack in both AngularJs and the mobile IONIC platform.
                      </p>
                      <p>
I have had the chance to do everything from make improvements to legacy applications written in .Net MVC as well as design and implement greenfield applications using serverless architecture based on .Net Core, Angular2, and AWS Lambda / API Gateway.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Web Developer</h3>
                            <div class="time">Jan 2015 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Boise State University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                      		Worked side-by-side with full time staff members in the Agile / SCRUM framework. Worked as part of a team to deliver great web and mobile applications that allow the university to support students and faculty alike. Had the opportunity contribute code in both the back-end in .NET as well as the front-end in AngularJs. Also worked on building automated end-to-end test solutions using a version of Cucumber and Selenium for .Net called SpecFlow. 
                      	</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->          
            </section><!--//section-->
