<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are some of the projects that I have worked on both professionally and in my spare time.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://majors.boisestate.edu/">Majors.Boisestate.edu</a></span> - <span class="project-tagline">A responsive web application that helps to match students interests with degrees at Boise State University.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://itunes.apple.com/us/app/myboisestate/id959007690?mt=8" target="_blank">myBoiseState Mobile</a></span> - 
                    <span class="project-tagline">A cross-platform mobile application that brings all the functionality of the student portal right students mobile device.  </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://nothotdog-dotnet.herokuapp.com/" target="_blank">Not A Hotdog.Net</a></span> - <span class="project-tagline">All the fun of Silicon Valley's most famous application built on the .Net platform using AWS's image recognition API</span>
                </div><!--//item-->
                
            </section><!--//section-->
